[submodule "images/sun-icons"]
	path = images/sun-icons
	url = git://github.com/KVSun/sun-icons.git
[submodule "classes/shgysk8zer0/core"]
	path = classes/shgysk8zer0/core
	url = git://github.com/shgysk8zer0/core.git
[submodule "classes/shgysk8zer0/core_api"]
	path = classes/shgysk8zer0/core_api
	url = git://github.com/shgysk8zer0/core_api.git
[submodule "images/octicons"]
	path = images/octicons
	url = git://github.com/primer/octicons.git
[submodule "classes/shgysk8zer0/dom"]
	path = classes/shgysk8zer0/dom
	url = git://github.com/shgysk8zer0/dom.git
[submodule "classes/shgysk8zer0/domvalidator"]
	path = classes/shgysk8zer0/domvalidator
	url = git://github.com/shgysk8zer0/domvalidator.git
[submodule "images/SVG-icons"]
	path = images/SVG-icons
	url = git://github.com/shgysk8zer0/SVG-icons.git
[submodule "fonts"]
	path = fonts
	url = git://github.com/shgysk8zer0/fonts.git
[submodule "forms"]
	path = forms
	url = git://github.com/KVSun/KVSun-Forms
[submodule "classes/kvsun/wp_e_edition"]
	path = classes/kvsun/wp_e_edition
	url = git://github.com/KVSun/wp_e_edition.git
[submodule "images/web-art"]
	path = images/web-art
	url = git://github.com/KVSun/web-art.git
[submodule "classes/kvsun/classifieds"]
	path = classes/kvsun/classifieds
	url = git://github.com/KVSun/classifieds.git
[submodule "classes/shgysk8zer0/shareapi"]
	path = classes/shgysk8zer0/shareapi
	url = git://github.com/shgysk8zer0/shareapi.git
