* {
	max-width: 100%;
}
summary {
	cursor: pointer;
	text-transform: capitalize;
}
img.add {
	max-width: calc(100% / 6);
}
.classified-list {
	-moz-column-gap: var(--col-gap);
	-webkit-column-gap: var(--col-gap);
	column-gap: var(--col-gap);
	-moz-column-rule: var(--col-rule);
	-webkit-column-rule: var(--col-rule);
	column-rule: var(--col-rule);
	-moz-column-width: var(--col-width);
	-webkit-column-width: var(--col-width);
	column-width: var(--col-width);
}
